.actions {   
    justify-content: flex-end; 
    margin-right: 20px;   
    margin-left: 100px;  
    gap: 10px; 
} 

.action {  
    margin-left: 20px;
    cursor: pointer;  
    display: inline-flex;
    background: none;
    border: none;
    padding: 0;
    align-items: center;
}  