html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(213, 231, 243);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed ;
  background-position: center;  
  scroll-behavior: smooth;  
  background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMDktYmctMDljLXguanBn.jpg');

}

.app-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.back-to-top {  
  position: fixed;  
  bottom: 30px;  
  right: 30px;  
  padding: 10px 20px;  
  background-color: rgba(194, 126, 0, 0.705); 
  color: white;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  opacity: 0.9;  
  transition: opacity 0.3s;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
  z-index: 1000;
}  

.back-to-top:hover {  
  background-color: rgba(194, 126, 0);
  opacity: 1;  
}